<section class='w-full flex flex-col gap-10 items-center justify-center py-28 px-10 min-h-max '>
    <h1 class='title text-4xl tracking-tight font-extrabold'>Ils repondent à  vos Besoins</h1>
    <div class="wrapper grid lg:grid-cols-3 gap-8 justify-center items-center mx-auto grid-cols-1 md:grid-cols-2 sm:grid-cols-1">
        
        <!-- cards -->
        <div class="card-container bg-white  pt-0 pb-3 rounded-2xl m-2 flex flex-col items-center gap-3 shadow-xl w-96 md:w-full ease-in duration-300 hover:translate-y-2" >
            <div class="card-cover">
                <img src="https://unsplash.it/851" alt="card__image" class="card__image  rounded-t-xl w-96 object-cover h-52" width="600" />
            </div>
            <div class="title-service w-full text-center flex text-xl px-4">
                <h2 class="text-slate-950 font-extrabold">Dépanneur</h2>
            </div>
            <div class="service px-4">
                <span class="call text-slate-900 text-sm">Vidange - </span>
                <span class="call text-slate-900 text-sm">Vidange - </span>
                <span class="call text-slate-900 text-sm"> Lavage - </span>
                <span class="call text-slate-900 text-sm"> Lavage - </span>
                <span class="call text-slate-900 text-sm"> Déppannage -</span>
            </div>
            <div class="card-profile-wrapper w-full flex justify-between items-center px-4 self-center my-2">
                <Link href='/' class="user flex gap-2">
                    <div class="profile-pic">
                        <img src="https://i.pravatar.cc/40?Image=456" alt="user__image" class="user__image rounded-full " />
                    </div>
                    <div class="flex flex-col">
                        <h3 class="text-slate-950 font-bold">Jhon Doe</h3>
                        <span class="text-slate-600 text-sm"> Mécanicienne </span>
                    </div>
                </Link>
                <Link href='/' class="call text-slate-600 text-sm pr-2">
                    <box-icon type='solid' name='phone'></box-icon>
                </Link>

            </div>
        </div>
       
        
    </div>
  </section>