* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    overflow-y: hidden !important;

}

header {
    width: 100%;
    padding: 1.5rem 1rem;
    position: fixed;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div:nth-child(1)>img {
    width: 150px;
}

.div img {
    display: none;
    width: 90px;
}


nav img,
nav .button_menu {
    z-index: 100000;
}

nav .button_menu {
    font-size: 1.7rem;
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #0e141a;
}

.menu {
    display: flex;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: .30rem 1.5rem;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

nav .menu .link-menu {
    color: #161d2c;
    transition: all .5s ease;
    font-weight: 500;
}

nav .menu .link-menu {
    color: #161d2c;
}

nav .menu .link-menu:hover {
    color: #242fac;
}

/*  */

main {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

/**/

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-section,
.right-section {
    height: 100%;
    flex: 1;
    min-height: 100vh;
    min-height: 100dvh;
}

.right-section {
    background-position: left;
    background-size: cover;
    background-image: url("images/Well\,\ let\'s\ check\ what\'s\ wrong\ with\ this\ car@3x.jpg");

}

.left-section {
    display: grid;
    place-content: center;
}


/*Formulaire de connexion */
form {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    padding: 2rem 1.2rem 3rem 1.2rem;
    height: max-content;
    width: 370px;
    text-align: center;
    justify-content: space-around;
    border-radius: 25px;
    box-shadow: 0px 42px 50px 0px #26264648;
}

form h1 {
    color: #1a237e;
    text-transform: capitalize;
}

form  .login, .login-sign-up, .sign-up{
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.login{
    margin-top: 1.5rem;
}
.sign-up{
    margin-top: 1rem;
}
.link-connexion {
    display: flex;
    /* width: max-content; */
    font-size: .8rem;
    gap: 10px;
    margin: 0 auto;
    transition: .5s;
    color: #1a237e;
}

.link-connexion a {
    transition: all .5s ease-in-out;
}


.link-connexion span:nth-child(2){
    cursor: pointer;
    border-bottom: #1a227e7c 0.5px solid;
}

.link-connexion a:hover {
    color: #0015ff;
}

form  input[type=text], input[type=email],
 input[type=password] {
    padding: .8rem 1rem;
    border: none;
    outline: solid .5px #161d2c44;
    border-radius: 25px;
    transition: .5s;
    font-size: 1rem;
    color: #12181f;
    font-weight: 500;
    width: 100%;
}

 input[type=text]:focus,
 input[type=password]:focus, input[type=email]:focus {
    outline: solid .5px #242fac;
    box-shadow: 0px 0px 15px 0px #2f40fc2a;

}

input[type=submit] {
    margin-top: 1rem;
    transition: all .3s;
    padding: .8rem 1rem;
    border: none;
    border-radius: 25px;
    width: max-content;
    align-self: center;
    background-color: #1a237e;
    color: white;

    cursor: pointer;
}

input[type=submit]:hover {
    transform: translateY(3px);
    background-color: #ffc107;
    box-shadow: 0px 10px 15px 0px #ffd04588;
}

.password-field {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.password-field  .bx{
    margin-top: -30px;
    margin-right: 20px;
    cursor: pointer;
    cursor: pointer;
    font-size: .8prem;
}

.show-password {
    padding: 0.8rem 0 0 .8rem;
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 5px;
    width: 100%;
    font-size: .8rem;
    align-items: center;

}

.show-password input[type=checkbox] {
    cursor: pointer;
}



/* signUp form  */
.name{
    display: flex;
    width: 100%;
    gap: 10px;
}

/*Responsives*/
@media (max-width: 768px) {
    .menu {
        position: absolute;
        left: 1000px;
        font-size: 36px;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0;
        padding: .30rem 1.5rem;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        top: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 1.3rem;
        transition: .5s cubic-bezier(1, 0.575, 0.9, 3);
    }

    .menu_mobile {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0;
        padding: .30rem 1.5rem;
        backdrop-filter: blur(8.4px);
        -webkit-backdrop-filter: blur(8.4px);
        top: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 1.3rem;
        transition: all .5s ease;

        background: #f5f5f5a1;
    }

    nav .button_menu {
        display: block;
    }



    .left-section {
        background-position: left;
        background-size: cover;
        background-image: url("images/Well\,\ let\'s\ check\ what\'s\ wrong\ with\ this\ car@3x.jpg");

    }


    form {
        margin-top: 2rem;
        width: 100%;
        min-width: 320px;
        background: #ffffff80;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.267);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .left-section {
        width: 100%;
        padding: 0 25px;
    }
    input[type=submit] {
        margin: 1rem 0;
    }
    





}


@media (max-width: 425px) {
    
    .name{
        flex-direction: column;
        gap: 24px;
    }
}
