/* ======================== nav  ======================== */

header {
  width: 100%;
  padding: 1.5rem 1rem;
  /* position: fixed; */
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

nav {
  width: 100%;
  max-width: 1258px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.logo {
  flex: 1;

  /* width: 100%; */
}
nav .logo  img {
  width: 150px;
  z-index: 900000;
}

.div img {
  display: none;
  width: 90px;
}

nav img,
nav .button_menu {
  z-index: 100000;
}

nav .button_menu {
  font-size: 1.7rem;
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #0e141a;
}

.menu {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 2rem;
}

.links-menu {
  display: flex;
  gap: 1rem;
  padding: 0.4rem 1.5rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 4px 25x rgba(23, 30, 34, 0.658);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

nav .menu .link-menu {
  color: #161d2c;
  transition: all 0.3s;
  font-weight: 500;
}

nav .menu .link-menu {
  color: #161d2c;
}

nav .menu .link-menu:hover {
  color: var(--vibrant);
}

.nav-btn {
  display: flex;
  gap: 1.2rem;
}
.nav-btn > a {
  padding: 0.3rem 0.6rem;
  border-radius: 5em;
  transition: .3s;
}

.login {
  background-color: var(--vibrant);
  color: var(--primary);
}
.login:hover{
    color: #fff;
    box-shadow: #ffc519be 0px 9px 30px 0px;
}
.register:hover{
    color: #fff;
    box-shadow: #303f9fa1 0px 9px 30px 0px;
}
.register {
  background-color: var(--primary);
  color: var(--bg-color);
}

/* ======================== hero section  ======================== */

.hero-section {
  width: 100%;
  position: relative;
  background: var(--bg-color);
  text-align: center;
  display: flex;
  gap: 20px;
  backdrop-filter: blur(5px);
}

.left-section,
.right-section {
  height: 100%;
  flex: 1;
  width: 100%;
}

.right-section {
  background-size: cover;
  background-color: #2330ab;
  /* background-attachment: fixed; */
  background-position-x: left;
  background-repeat: no-repeat;
  background-image: url("../images/Well\,\ let's\ check\ what's\ wrong\ with\ this\ car@3x.jpg");
}

.left-section {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  text-align: left;
  /* padding-left: 40px; */
}
.left-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 25px;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.top h1 {
  color: var(--text-color);
  margin-top: -10px;
  font-size: 56px;
  font-weight: 1000;
  text-transform: uppercase;
}
.top p {
  max-width: 500px;
}
.top > span {
  text-transform: capitalize;
  color: var(--blue-muted);
}
.top > h1 span {
  color: var(--primary);
}
.yellow {
  color: var(--vibrant);
}

.search-home-form {
  margin-top: 1rem;
  width: max-content;
  position: relative;
  border-radius: 5em;
}

.search-bar-container form input[type="search"] {
  padding: 0.9rem 3rem 0.9rem 0.8rem;
  border-radius: 5em;
  font-size: 0.95rem;
  transition: all ease-in-out 0.3s;
  /* outline: 2px solid #a6b4c8; */
  background-color: #d1d1d1a4;
}

input[type="search"]:focus {
  outline: 1px solid var(--vibrant);
  background-color: #ffffff;
  /* box-shadow: #a6b4c8 10px 10px 24px , #ffffff -12px -12px 20px; */
  box-shadow: #c7c8cab7 10px 10px 15px, #eeeeeeda -12px -12px 15px;
  -webkit-box-shadow: 15px 15px 15px #c7c8caa4, -15px -15px 15px #eeeeeeda;
}

input[type="search"]::-webkit-search-cancel-button {
  margin-left: -10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}

.search-home-form button {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: var(--vibrant);
  border-radius: 5em;
  width: 50px;
  transition: all ease-in-out 0.3s;
}

.search-home-form button i {
  font-size: 25px;
  color: var(--bg-color);
  transition: all ease 0.3s;
}

.search-home-form button:hover {
  background-color: var(--vibrant);
}

.search-home-form button:hover {
  width: 70px;
}



.msg-bottom{
    display: flex;
    gap: 10px;
    width: 340px;
    align-items: center;
    font-weight: 600;
}
.icon-bottom img{
    width: 120px;
}


.services-block {
  width: 450px;
  height: max-content;
  position: absolute;
  z-index: 12;
  top: 78%;
  left: 78%;
  transform: translate(-50%, -50%);
  bottom: -2px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-radius: 25px;
  background: #ffffffe7;
  box-shadow: 0 10px 25px #171e2234;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #dad9d991;
}

.services-container{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}
.services-container> a{
    padding: .3rem .3rem;
    color: var(--text-color);
    border-radius: 5em;
    text-align: center;
    transition: .3s;
    border: 1px solid var(--text-color);
    
}
.services-container> a:hover{
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--bg-color);
}
.wrapper{
  justify-content: center;
}
/*Responsives*/
@media (max-width: 768px) {
  header {
    position: fixed;
    background-color: var(--bg-color);
    box-shadow: #110c2e11 0px 15px 50px 0px;
  }
  .menu {
    position: absolute;
    left: 1000px;
    font-size: 36px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
    padding: 0.3rem 1.5rem;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.3rem;
    transition: 0.5s cubic-bezier(1, 0.575, 0.9, 3);
  }
  .nav-btn {
    flex-direction: column;
  }
  .logo img {
    top: 25%;
    position: absolute;
    z-index: 10000;
  }
  .links-menu {
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem 1.5rem;
    border-radius: 50px;
    background: transparent;
    box-shadow: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: none;
    widows: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu_mobile {
    text-align: center;
    gap: 1.5rem;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
    padding: 0.3rem 1.5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.3rem;
    transition: all 0.5s ease;

    background: #f5f5f5a1;
  }

  nav .button_menu {
    display: block;
  }

  .hero-section {
    padding: 0.51rem;
    min-height: 100vh;
  }
  .left-section {
    background-position: left;
    background-size: cover;
  }

  .right-section {
    display: none;
  }

  .top h1 {
    font-size: 45px;
  }
  .left-section {
    padding-left: 0rem;
  }
  .left-section-container {
    gap: 24px;
  }
  .top {
    gap: 18px;
  }

  .services-block {
    /* margin-top: 1rem; */
    top: 100%;
    left: 0;
    transform: translate(0%, 50%);
    position: relative;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 340px){
    .msg-bottom{
        width: 100%;
        justify-content: space-between;
    }
}